*{
    font-family: rainyhearts;
}

body{
    background-image: url('/docs/assets/images/metroPic.png');
    background-size: cover;
}


#container {
/* background-image: url('/docs/assets/images/metroPic.png'); */
display: flex;
justify-content: center;

}

img{
    align-items: center;
    margin-top: 7em;
    margin-bottom: 3em;
}

#canvas
{
    width: 1200px;
    height: 600px ;
    position: absolute;
    transform: translate(-50%, -50%); 
    top: 50%;
    left: 50%;
    border-radius: 10px;

}

#startButton {
/* display: flex; */
align-items: center;
align-content: center;
text-align: center;
font-weight: bolder;
margin-top: 2em;
margin-left: 42vw;
margin-bottom: 0em;
padding-top: 10px;
width: 200px;
height: 70px;
background-color: #d9e742;
border: 2px;
border-radius: 7px;
font-size:x-large;
color:  white;
}

#chooseDifficultyButton {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 2em;
    margin-left: 42vw;
    font-weight: bolder;
    margin-bottom: 0em;
    padding-top: 10px;
    width: 200px;
    height: 70px;
    background-color: #d9e742;
    border: 2px;
    border-radius: 7px;
    font-size:x-large;
    color:  white;
    }


    #easyButton {
        align-items: center;
        align-content: center;
        text-align: center;
        margin-top: 2em;
        margin-left: 42vw;
        font-weight: bolder;
        padding-top: 10px;
        width: 200px;
        height: 70px;
        background-color: #d9e742;
        border: 2px;
        border-radius: 7px;
        font-size:x-large;
        color:  white;
        }    


        #hardButton {
            align-items: center;
            align-content: center;
            text-align: center;
            font-weight: bolder;
            margin-top: 2em;
            margin-left: 42vw;
            padding-top: 10px;
            width: 200px;
            height: 70px;
            background-color: #d9e742;
            border: 2px;
            border-radius: 7px;
            font-size:x-large;
            color:  white;
            }            


#timer{
display: flex;
color: red;
font-size: x-large;
font-weight: 900;

}

.hidden{
    display: none;
}

.easy-hidden{
    display: none;
}

.hard-hidden{
    display: none;
}

#startButton{
    transition-duration: 0.5s;
}
#startButton:hover{
    background-color: purple;
}

#chooseDifficultyButton:hover{
    background-color: purple;
}

#easyButton:hover{
    background-color: purple;
}

#hardButton:hover{
    background-color: purple;
}

