*{
    font-family: rainyhearts;
}

body{
    background-color:black;
    background-size: cover;
    padding: 0;
}


#container {
display: flex;
align-items: center;
margin-left: 100px;
margin-top: 40px;
 
}

#canvas
{
    width: 1200px;
    height: 600px ;
    background-image: url(/../docs/assets/images/cut.png);
    background-size: cover;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    top: 50%;
    left: 50%;

}

#startButton {
display: flex;
align-items: center;
align-content: center;
text-align: center;
margin-top: 2em;
margin-left: 30em;
margin-bottom: 0em;
padding-left: 54px;
padding-top: 10px;
width: 200px;
height: 70px;
background-color: rgb(56, 91, 175);
border: 2px;
border-radius: 7px;
font-size:x-large;
color:  white;
}



#timer{
display: flex;
color: red;
font-size: x-large;
font-weight: 900;

}